*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
ul, ol{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    width: 100%;
    padding: 15px 0;
    background-color:#292D3E;
    box-shadow: 0 0 30px 10px rgb(131, 128, 128);
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    position: relative;
}
.nav-items-link{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.5s ease, color 0.5s ease;
}
.nav-items-contact{
    position: absolute;
    right: -120%;
    background-color: thistle;
    padding: 10px 20px;
    border-radius: 10px;
}
.nav-items-contact:hover>a{
    color: rgb(87, 81, 81);
}
.nav-items:hover>a{
    color: rgb(87, 81, 81);
    transform:translate(15%);
}
.section-text{
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}
.section-title{
    font-family: "lato";
    color: white;
    letter-spacing: 2px;
    font-size: 50px;
    margin:20px 0;
    cursor: pointer;
}
.section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 0;
}
.section-text{
    font-size: 22px;
    letter-spacing: 3px;
    width: 70%;
    font-weight: bold;
    cursor:progress;
}
.my-name{
    color: indigo;
    background-color: lavender;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.my-photo{
    width: 350px;
    height: 350px;
    height: auto;
    border: 10px solid #292D3E;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 10%;
    border-top-right-radius:10% ;
}
.section-content-link{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.section-content-img{
    cursor: pointer;
    width: 300px;
}
.content-right{
    width: 100%;
}